*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar{
    height: 70px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}


.border:hover{
    border: 1.5px solid white;
}

/** box 2**/
.add-first{
    color: #cccccc;
    font-size:0.85rem ;
    margin-left: 22px;
    
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/***  box3  ***/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(228, 175, 76);
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50px;   
}

.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
    padding-left: 10px;
}

.search-icon{
    background-color: #febd69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.2rem;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.nav-search:hover {
    border:2px solid #f3a847;
}

/*** box 4 ***/
spam{
    display: block;
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;  
}

/** box 6 ***/
.nav-cart i{
    font-size: 30px;
    
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

/** panel **/
.panel{
    height: 40px;
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.9rem;
}

.panel-ops p{
    display: inline;
    margin: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-weight: 700;
}

/*** hero ***/
.hero-section{
    width: 90%;
    height: 350px;
    background-image: url('hero_image.jpg');
    background-size: cover;
    display: flex;
    justify-self: center;
    align-items: flex-end;
    padding-left: 15%;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
    
}

.hero-msg a{
    color: #007185;
   
}

/**shop-section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
   /* border: 2px solid #000000;*/
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-content{
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.box-content p{
    color: #007185;
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #f3a847;
}

/** footer **/
footer{
    margin-top: 20px;
}  

.foot-panel1{
    height: 50px;
    background-color: #37475a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    cursor: pointer;
}

.foot-panel1:hover{
    background-color: #485769;
}

.foot-panel2{
    background-color: #232f3e;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}

ul{
    margin: 20px;
}

ul a{
    margin-top: 10px;
    display : block;
    color: #dddddd;
    font-size: 0.85rem;
}

.foot-panel3{
    height: 70px;
    background-color: #232f3e;
    color: white;
    border-top: 0.1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width:100px ;
}

.foot-panel3 .logo{
    height: 40px;
}

.foot-panel4{
    text-align: center;
    font-size: 0.75rem;
}

.pages{
    padding-top: 20px;
    
}

.copyright{
    padding-top: 10px;
}
